.search{
    margin-top: -7%;
    padding: 8rem 0 7rem;
    padding-bottom: 15px;
    text-align: center;
}

.pre-results{
    margin-top: -12%;
    margin-bottom: 65%;
    padding: 8rem 0 7rem;
    text-align: center;
}